<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="/#/">Write Right Now</a>
  <div class="container-fluid">
    <p class="navbar-text">{{ entry.currentEntry.day }} | {{ entry.currentEntry.wordcount }}/ {{ entry.currentEntry.goal }} words</p>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="" ng-click="entry.toggleFullscreen()">Toggle Fullscreen</a></li>
    </ul>
  </div><!-- container-fluid -->
</nav>

<div class="editor">
  <ng-quill-editor 
    ng-model="entry.currentEntry.content" 
    ng-model-options="{ debounce: 1000 }"
    ng-change="entry.updateEntry()"
    read-only="true"
    theme="snow"
  >
  </ng-quill-editor>
</div>
