<div class="container-fluid">

<!-- TODO: Update User Goal -->
<div ng-controller="UserCtrl as user">
  <h2>{{ $root.currentUser.name }}'s Entries </h2>

  <p>Daily goal: {{ $root.currentUser.goal }} words
  <span class="input-btn">
    <button class="btn" aria-pressed="false" autocomplete="off" aria-label="Edit"
    data-toggle="collapse" data-target="#goalInput" aria-expanded="false" aria-controls="goalInput">Change Goal</button>
  </span>
  </p>

  <div class="collapse" id="goalInput">
    <div class="well">
      <form name="goal" class="form-inline" ng-model-options="{ updateOn: 'blur' }">
        <label for="goal">Goal</label>
        <input name="goal"
              class="form-control" 
              ng-model="user.info.goal"
              ng-change="user.updateGoal()">
      </form>
    </div>
  </div>
</div>

<div class="list-group" ng-repeat="day in main.days | orderBy:'date':true">

  <div ng-show="day.entry">
    <div ng-show="day.entry.locked"  class="list-group-item">
      <h4 class="list-group-item-heading">{{ day.date | date:"MMM d, y" }} 
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </h4>
        <div class="progress">
          <div class="progress-bar 
          ng-class: day.entry.word_count/day.entry.goal >= 1 ? 'progress-bar-success' : 'progress-bar-info'" 
          role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" 
          style="width: {{ day.entry.word_count >= day.entry.goal ? 100 : day.entry.word_count/day.entry.goal*100 }}%">
          <span>{{ day.entry.word_count }} / {{ day.entry.goal }}</span> words
          </div>
        </div>
        <p class="text-muted">
          {{day.entry.preview}}
        </p>
    </div>
    <a ng-hide="day.entry.locked" class="list-group-item" ng-href="#/entries/{{ day.entry.id }}">
      <h4 class="list-group-item-heading">{{ day.date | date:"MMM d, y" }}</h4>
      <div class="progress">
        <div class="progress-bar 
        ng-class: day.entry.word_count/day.entry.goal >= 1 ? 'progress-bar-success' : 'progress-bar-info'" 
        role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" 
        style="width: {{ day.entry.word_count >= day.entry.goal ? 100 : day.entry.word_count/day.entry.goal*100 }}%">
        <span>{{ day.entry.word_count }} / {{ day.entry.goal }}</span> words
        </div>
      </div>
      <p class="text-muted">
        {{day.entry.preview}}
      </p>
    </a>
    
  </div><!-- ng-show -->

  <div ng-hide="day.entry">
    <div  class="list-group-item">
      <h4 class="list-group-item-heading">{{ day.date | date:"MMM d, y" }}</h4>
      You skipped :(
    </div>
  </div><!-- ng-hide -->


</div>
  
</div>