@import "../../bower_components/bootstrap/less/bootstrap.less";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./fonts/glyphicons-halflings-regular.eot');
  src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*@brand-success: #d9534f;*/

/* padding for fixed nav bar*/
body {
  padding: 70px;
}


/* styles for the ql-editor */
/* how to programatically change this? */
.ql-editor {
  padding: 0 3em;
  font-size: 2em;
  font-family: Georgia;
}

/* hide nav bar */
.fs-navbar {
  opacity:0.0;
  transition:1s;
}

.fs-navbar:hover{
  opacity:1.0;
}

